<%= form_with model: [ @game, @game.critics.build ] do |form| %>
  <p>
    <%= form.text_field :title, placeholder: "Critic title" %>
  </p>
  <p>
    <%= form.text_area :body, placeholder: "Critic body" %>
  </p>
  <p>
    <%= form.submit "CREATE CRITIC" %>
  </p>
<% end %>