<p style="color: green"><%= notice %></p>

<h1>Platforms</h1>

<div id="platforms">
  <% @platforms.each do |platform| %>
    <%= render platform %>
    <p>
      <%= link_to "Show this platform", platform %>
    </p>
  <% end %>
</div>

<%= link_to "New platform", new_platform_path %>
