<div class="flex flex-column gap-4 center-text">
    <p class="content-xs overline">Continue with</p>
    <div class="socials">
    <%= link_to "Github", "#", class: "button button--secondary" %>
    <%= link_to "Twitter", "#", class: "button button--secondary" %>
    </div>
    <p class="content-xs overline">or</p>
</div>