<div class="section flex flex-column gap-4">
  <h1 class="heading">Forgot your password?</h1>

  <div class="user-form">
    <p>Don’t worry. you can receive the instructions to reset your password</p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "flex flex-column gap-4" }) do |f| %>
      <div class="input">
        <%= f.label :email, class:"content-xs overline" %>
        <div class="input__container">
          <%= f.email_field :email, class: "input__content", placeholder: "example@mail.com" %>
        </div>
      </div>

      <div>
        <%= f.submit "Send", class: "button button--primary full-width" %>
      </div>
    <% end %>
  </div>
</div>
