<h1>Editing involved company</h1>

<%= render "form", involved_company: @involved_company %>

<br>

<div>
  <%= link_to "Show this involved company", @involved_company %> |
  <%= link_to "Back to involved companies", involved_companies_path %>
</div>
