<div class="game-header">
  <div class="game-header__img"><%= image_tag resource.cover %></div>
  <div class="game-header__content">
    <div>
      <h1 class="heading heading--sm"><%= resource.name %></h1>
      <p class="content-xs"><%= resource.release_date.year %></p>
    </div>
    <div>
      <span class="content-xl game-header__rating"><%= resource.rating %></span>
    </div>
  </div>
</div>
