<div class="game-header">
  <div class="game-header__img"><%= image_tag resource.cover %></div>
  <div class="game-header__content">
    <div>
      <h1 class="heading heading--sm"><%= resource.name %></h1>
      <%= content_tag "p", resource.release_date.year, class: "content-xs" if resource.release_date %>
    </div>
    <%= content_tag "span", resource.rating, class: "content-xl game-header__rating" if resource.rating %>
  </div>
</div>
