<section class="section bg-gray-100">
  <div class="container-sm mb-4">
    <h1 class="heading heading--sm">Companies</h1>
  </div>
  
  <div class="mb-4">
    <%= link_to "New company", new_company_path, class: "button button--primary fit-content content-xs" %>
  </div>

  <div id="companies">
    <% @companies.each do |company| %>
      <div class="bg-white mb-4">
        <%= render company %>
      </div>
    <% end %>
  </div>
  
</section>
