.critics__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.critic {
  padding-top: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 0.125rem solid var(--gray-200);
}

.critic__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.critic__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.critic__link {
  display: block;
}
