.game-card {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: var(--shadow-lg);
  overflow: hidden;
}

.game-card__content {
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-card__image {
  height: 160px;
  width: 120px;
}

.game-card__data {
  display: flex;
  flex-direction: column;
}

.game-card__actions {
  height: 16px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 12.6px;

}

.action-icon {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  border: var(--gray-300);
}


.action-icon:hover {
  background-color: var(--secondary-200);
}

