.game-card {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: var(--shadow-lg);
  overflow: hidden;
}

.game-card__content {
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.game-card__data {
  display: flex;
  flex-direction: column;
}

.game-card__actions {
  height: 16px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 12.6px;
}

.game-card__rating {
  display: inline-block;
  align-self: flex-start;
  padding: 0.5rem;
  color: white;
  background-color: var(--secondary-300);
  border-radius: 0.25rem;
}
