<footer class="footer bg-gray-100">
  <section class="section-footer">
    <div class="inline-footer">
      <p>Build with ❤️ by</p>
    </div>
    <div class="inline-footer">
      <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Ricardo</p>
      <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Ximena</p>
      <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Tommy</p>
    </div>
    <div class="inline-footer">
      <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Claudia</p>
    </div>
  </section>
</footer>